<!DOCTYPE html>
<html>

<head>
    <title><%= responseData.Website.title %> - Visualizador de JSON</title>
    <style>
        /* Estilos para a formatação do JSON */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            <% if (responseData.Website.colors.background.type === "img") { %>
        background-image: url('<%= responseData.Website.colors.background.value %>');
        background-size: cover;
    <% } else { %>
        background-color: <%= responseData.Website.colors.background.value %>;
    <% } %>
        }

        .container {
            padding: 10px;
            <% if (responseData.Website.colors.primaria) { %>
                background-color: <%= responseData.Website.colors.primaria %>;
            <% } else { %>
                background-color:"#FFF"
            <% } %>
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            max-width: 800px;
            margin: 20px auto;
            overflow-x: auto;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        
        .container img {
            width: 80px;
            border-radius: 50%;
        }

        pre {
            padding: 10px;
            <% if (responseData.Website.colors.secundaria) { %>
                background-color: <%= responseData.Website.colors.secundaria %>;
            <% } else { %>
                background-color:"#FFF"
            <% } %>
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            max-width: 800px;
            margin: 20px auto;
            overflow-x: auto;
        }

        /* Estilos para a sintaxe do JSON */
        .json-key {
            color: #900;
        }

        .json-string {
            color: #090;
        }

        .json-number {
            color: #009;
        }

        .json-boolean {
            color: #00F;
        }

        .json-null {
            color: #555;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://cdn.discordapp.com/attachments/1033486312956768336/1086420783477297203/logo-alternight.png" alt="Minha Imagem">    
        <h1><%= responseData.Website.title %> - Api Viewer</h1>
    </div>
    <pre><code id="json"></code></pre>

    <script>
        // Função para colorir a sintaxe do JSON
        function syntaxHighlight(json) {
            json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
            return json.replace(
                /("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|\b-?\d+(?:\.\d*)?(?:[eE][+-]?\d+)?\b)/g,
                function (match) {
                    let color = 'json-number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            color = 'json-key';
                        } else {
                            color = 'json-string';
                        }
                    } else if (/true|false/.test(match)) {
                        color = 'json-boolean';
                    } else if (/null/.test(match)) {
                        color = 'json-null';
                    }
                    return '<span class="' + color + '">' + match + '</span>';
                }
            );
        }

        // Carregando o JSON por ID
        document.getElementById('json').innerHTML = syntaxHighlight(JSON.stringify(<%- JSON.stringify(responseData) %>, null, 2));
    </script>
</body>

</html>